.cart{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 700rem;
    height: 80rem;
    background-color: #333;
    border-radius: 20px;
    bottom: 30rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}

.icon{
    width: 80rem;
    position: absolute;
    bottom:-8rem;
}

.icon img{
    width: 100%;
}

.totalAmount{
    position: absolute;
    width: 36rem;
    height: 36rem;
    line-height: 36rem;
    text-align: center;
    background-color: #f00;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 22rem;
    right: -10rem;
}

.price,.nomeal{
    display: flex;
    align-items: center;
    margin-left: 120rem;
    color: #fff;
    font-weight: bold;
    font-size: 36rem;
}

.nomeal{
    color: #aaa;
}

.button{
    border: none;
    background-color: #FCBF49;
    width: 200rem;
    border-radius: 20px;
    font-size: 36rem;
}
.disabled{
    color: #aaa;
    background-color: #777;
}