.Cartdetail{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 750rem;
    max-height: 1200rem;
    background-color: #fff;
    bottom: 0;
    padding-bottom: 120rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30rem;
}
.title{
    font-weight: bold;
    font-size: 28rem;
    margin: 0;
}
.trash{
    color: #aaa;
    font-size: 24rem;
}
.detail{
    overflow: auto;
}